*{
    margin: 0;
    padding: 0;
}
nav.navbar{
    background-color: rgb(54, 52, 52);
    width: 100%;
    height: 55px;
    display: flex;
}
div.topic{
        margin: 0px 10px;
        width: 20%;
        height: 50px;
        font-size: 40px;
        text-align: center;
        line-height: 50px;
        color: rgb(152, 222, 224);
    }
    ul.lists{
        display: flex;
        width:60% ;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(208, 226, 230);
    }
    li.lists{
        width: 20%;
        text-align: center;
        list-style: none;
        line-height: 50px;
        margin: 0px 10px;
        height: 50px;
        transition: 0.2s;

    }
    li.lists:hover{
        border: 3px solid black;
        border-radius: 5px;
        color: grey;
        text-decoration: underline;
        cursor: pointer;
    }
    div.login{
        width: 15%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: rgb(7, 167, 55);
        border: 3px solid black;
        border-radius: 5px;
        cursor: pointer;
    }
    div.login:hover{
        text-decoration: underline;
        color: black;

    }
    @media (max-width:700px){
        ul.lists{
            display: inline;
            position: absolute;
            text-align: center;
            top: 55px;
            left: 0%;
            height:160px;
            width: 100%;
            background-color: rgba(0, 255, 98, 0.877);
        }
        li.lists{
            position: relative;
            left: 40%;
            color: black;
        }
        div.topic{
            display: inline-block;
            width: 70%;
            text-align: center;
        }
        div.login{
            width: 20%;
            margin:0px 5px;
        }
       
    }
   
